* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #2c2c2c;
  --main-text-color: #dbdbdb;
  --main-btn-bg-color: #aaaaaa;
  --main-btn-text-color: #363636;
  --bg-overlay: rgba(8, 8, 8, 0.7);
}

body {
  font-family: "McLaren", cursive;
}

@keyframes animatedBackground {
  from {
    background-position: 50% 22%;
  }
  to {
    background-position: 100% 22%;
  }
}

.animateBg {
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 60s linear infinite alternate;
}

#background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
  transition: background-image 0.6s ease-in-out;
}

.layer {
  background-color: var(--bg-overlay);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#wContainer {
  width: 90vw;
}

h1 {
  margin-top: 2rem;
  font-size: 2.725rem;
  text-align: center;
  color: var(--main-text-color);
  text-shadow: 2px 1px 1px rgb(102, 102, 102), -2px -0px 1px rgb(136, 135, 135);
  mix-blend-mode: difference;
  position: relative;
  z-index: -1;
  transition: all 0.6 ease-in-out;
}

#cityName {
  margin-top: 1.4rem;
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding: 0.15rem 1.125rem;
  display: block;
  text-align: center;
  background: var(--main-bg-color);
  color: var(--main-text-color);
  border-radius: 0.5rem;
  outline: none;
  border: none;
  /* mix-blend-mode: darken; */
  opacity: 0.8;
  transition: all 0.6s ease-out;
  font-family: "McLaren", cursive;
}

#cityName:hover {
  background: var(--main-bg-color);
}

#cityName:focus {
  background: var(--main-bg-color);
}

#cityName::placeholder {
  color: var(--main-text-color);
  background: var(--main-bg-color);
}

#cityName.ph-red::-webkit-input-placeholder {
  color: #f30000;
}

input[type="submit"] {
  margin-top: 1.2rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  letter-spacing: 1px;
  padding: 0.4rem 4rem;
  display: block;
  background-image: linear-gradient(
    to right,
    var(--main-btn-bg-color) 0%,
    var(--main-btn-bg-color) 100%
  );
  mix-blend-mode: hard-light;
  font-family: "McLaren", cursive;
  text-transform: unset;
  color: var(--main-btn-text-color);
  /* text-shadow: 1px 2px 1px #283333, -2px -1px 1px #232c2c; */
  outline: none;
  border: 1px solid #444444;
  transition: all 0.6s ease-out;
}

input[type="submit"]:hover {
  background-image: linear-gradient(to right, #cacaca 0%, #cacaca 100%);
  color: #283333;
  text-shadow: 1px 2px 1px #cacaca, -2px -1px 1px #cacaca;
}

input[type="submit"]:active {
  background-image: linear-gradient(to right, #cacaca 0%, #cacaca 100%);
  color: #283333;
  text-shadow: 1px 2px 1px #cacaca, -2px -1px 1px #cacaca;
  transform: scale(0.9);
}

#output {
  margin-top: 1.2rem;
  max-width: 100%;
  padding: 0.6rem 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  color: rgb(37, 37, 37);
  border: none;
  border-radius: 10px;
  transition: all 0.6s ease-out;
  box-shadow: 4px 5px 2px #2c2c2c, -4px 5px 2px #2c2c2c, 4px -5px 2px #2c2c2c,
    -4px -5px 2px #2c2c2c;
}

.output-bg {
  background-color: var(--main-bg-color);
  opacity: 0.7;
}

.output-none {
  display: none;
}

#output:hover {
  transform: scaleX(1.02);
}

#output > p {
  padding: 1.2px;
  font-size: 1.4rem;
  text-align: center;
  font-weight: bolder;
  text-transform: capitalize;
  color: var(--main-text-color);
  /* text-shadow: 1px 2px 1px #acacac, -2px -1px 1px #acacac; */
}

#output > p.temp {
  font-size: 1.6rem;
}

#output > div.line {
  margin: 0.6rem auto;
  border: 5px dotted grey;
  width: 1.6rem;
  border-bottom: none;
}

#output > p.description {
  font-size: 1.6rem;
}

#output div.details {
  display: flex;
  color: var(--main-text-color);
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
#output > div.details img {
  width: 80px;
  height: 80px;
  border: none;
  outline: none;
  align-self: flex-end;
  transition: all 0.6s ease-out;
}

#output > div.details img:hover {
  transform: scale(1.2);
}

#output > div.details div.detailsText {
  font-size: 1rem;
  align-items: left;
  transition: all 0.6s ease-out;
}

#output > div.details div.detailsText:hover {
  transform: scale(1.2);
}

#output > div.map {
  margin: 0.8rem auto;
  overflow: hidden;
  height: 180px;
  width: 220px;
  align-self: center;
  border: 1px dotted rgb(76, 227, 253);
  border-radius: 4px;
  opacity: 0.6;
  transition: all 0.6s ease-out;
}

/* --------------------------------------------------------------------------*/
/* When Screen Width >= 340 px */
/* --------------------------------------------------------------------------*/
@media screen and (min-width: 340px) {
  h1 {
    font-size: 3rem;
  }

  #cityName {
    margin-top: 1.4rem;
    font-size: 1.6rem;
    padding: 0.15rem 1.225rem;
    width: 100%;
  }

  input[type="submit"] {
    margin-top: 1.2rem;
    font-size: 1.6rem;
    padding: 0.4rem 5rem;
    width: 100%;
  }
  #output {
    margin-top: 1.2rem;
    max-width: 100%;
  }

  #output > div.map {
    height: 100px;
    width: 90%;
  }
}
/* --------------------------------------------------------------------------*/
/* When Screen Width >= 720 px */
/* --------------------------------------------------------------------------*/
@media screen and (min-width: 720px) {
  h1 {
    font-size: 3rem;
  }

  #cityName {
    margin-top: 1.4rem;
    font-size: 1.6rem;
    padding: 0.15rem 1.225rem;
    width: 90%;
    max-width: 792px;
  }

  input[type="submit"] {
    margin-top: 1.2rem;
    font-size: 1.6rem;
    padding: 0.4rem 5rem;
    width: 90%;
    max-width: 792px;
  }
  #output {
    margin-top: 1.2rem;
    max-width: 90%;
    max-width: 792px;
    padding-bottom: 2rem;
  }

  #output > div.map {
    margin: 0 auto;
    height: 100px;
    width: 90%;
  }
}
